<div class="row mb-6 sticky-top sticky-top-correction bg-body py-5">
  <div class="dropdown col-lg-6 d-flex align-items-center">
    <a class="idx-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">Draft version 1<i class="fal fa-angle-down ms-1"></i></a>
    <span class="text-neutral-500 ms-2">shared 29 Dec 2022</span>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Draft version 1</a></li>
      <li><a class="dropdown-item" href="#">Draft version 2</a></li>
      <li><a class="dropdown-item" href="#">Draft version 3</a></li>
    </ul>
  </div>
  <div class="col-lg-6 d-flex justify-content-lg-end mt-2 mt-lg-0">
    <a data-bs-toggle="modal" data-bs-target="#revertPlanModal" class="btn btn-neutral-50 me-2"><i class="fal fa-step-backward me-2"></i>Revert stage</a>
    <a class="btn btn-neutral-50 me-2" href="#"><i class="fal fa-pencil-alt me-2"></i>Edit plan</a>
    <a class="btn btn-neutral-50" href="#"><i class="fal fa-paper-plane me-2"></i>Issue plan</a>
  </div>
</div>

{% include modal-revert-plan.html %}
