<!-- Actions bar -->
<div class="card actions">
  <div class="card-body">
    <div class="row">
      <h2>Stage 5</h2>
      <div class="col-lg-5 d-flex align-items-center">
        <ul class="pagination pagination-sm zero-mb">
          <li>Draft version 2 <i class="bi bi-caret-down-fill"></i></li>
          <li class="shared-status">Not yet shared</li>
        </ul>
      </div>
      <!-- <div class="col-lg-6 d-flex">
        <p class="card-text me-auto" style="margin:auto 0"><strong>Plan issue due:</strong> 5 May 2021 <a href="#" data-bs-toggle="modal" data-bs-target="#guidanceModal"><i class="bi bi-question-circle"></i></a></p>
      </div> -->
      <div class="col-lg-7 d-flex align-items-center justify-content-end" id="action-buttons">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-file-earmark-arrow-down"></i> Download
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Draft plan (PDF)</a></li>
            <li><a class="dropdown-item" href="#">Draft plan (Word)</a></li>
            <li><a class="dropdown-item" href="#">Plan letter (PDF)</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-secondary ms-2"><i class="bi bi-eye"></i> Preview</button>
        <button type="button" class="btn btn-secondary ms-2 hidden-mobile" id="notificationToast"><i class="bi bi-pencil-square"></i> Edit</button>
        <button type="button" class="btn btn-secondary ms-2 hidden-mobile" data-bs-toggle="modal" data-bs-target="#issuePlanModal"><i class="bi bi-arrow-right-circle"></i> Issue</button>
      </div>
    </div>
  </div>
</div>
