<div class="row sticky-top sticky-top-correction bg-body py-3 my-2">
  <div class="d-flex justify-content-between">
    <a class="btn btn-neutral-50 me-2" href="#"><i class="fal fa-arrow-circle-left me-2"></i>Step 2<span class="d-none d-md-inline-block ms-1">:: Decision</span></a>
    <a class="btn btn-neutral-50 me-2" href="/case-view/advice-team-response"><i class="fal fa-envelope-open-text me-2"></i>Manage Response</a>
    <!-- <div class="dropdown ps-2">
      <a class="btn btn-neutral-50 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fal fa-envelope-open-text me-2"></i> Manage Response
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Health Team</a></li>
        <li><a class="dropdown-item" href="#">Social Care Team</a></li>
      </ul>
    </div> -->
  </div>
</div>
