<nav class="progress-nav py-2 mb-5 d-none d-md-block">
  <ul class="nav d-flex justify-content-between text-center">
    <li class="nav-item mx-auto">
      <a class="nav-link" href="#"><i class="fal fa-file-alt text-success-500"></i></a>
      1. Request
    </li>
    <li class="d-flex align-items-center"><i class="fal fa-angle-right"></i></li>
    <li class="nav-item mx-auto">
      <a class="nav-link" href="#"><i class="fal fa-bookmark text-success-500"></i></a>
      2. Decision
    </li>
    <li class="d-flex align-items-center"><i class="fal fa-angle-right"></i></li>
    <li class="nav-item mx-auto">
      <a class="nav-link" href="#"><i class="fal fa-chalkboard-teacher text-success-500"></i></a>
      3. Assessment
    </li>
    <li class="d-flex align-items-center"><i class="fal fa-angle-right"></i></li>
    <li class="nav-item mx-auto">
      <a class="nav-link" href="#"><i class="fal fa-bookmark text-success-500"></i></a>
      4. Decision
    </li>
    <li class="d-flex align-items-center"><i class="fal fa-angle-right"></i></li>
    <li class="nav-item mx-auto">
      <a class="nav-link" aria-current="page" href="#"><i class="fal fa-file-contract text-secondary-500"></i></a>
      5. Plan
    </li>
  </ul>
</nav>
