<div class="sidebar mb-2">
  <div class="accordion accordion-flush" id="accordionSubject">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSubject">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubject" aria-expanded="true" aria-controls="collapseSubject">
          <strong>Mason Hall</strong>
        </button>
      </h2>
      <div id="collapseSubject" class="accordion-collapse collapse show" aria-labelledby="headingSubject" data-bs-parent="#accordionSubject">
        <div class="accordion-body">
          <div class="mx-auto avatar">
            <img src="/assets/images/placeholder.jpeg" alt="Photo of the child or young person">
          </div>
          <div class="d-flex justify-content-between">
            <small>Date of birth:</small>
            <small>12 Feb 2008</small>
          </div>
          <div class="d-flex justify-content-between">
            <small>Year group:</small>
            <small>Year 9</small>
          </div>
          <div class="d-flex justify-content-between">
            <small>Case ID:</small>
            <small>AFZ9586</small>
          </div>
          <div class="d-flex justify-content-between">
            <small>Status:</small>
            <a href="/case-view"><small>Stage 5</small></a>
          </div>
          <div>
            <span class="badge bg-danger" title="Safeguarding concern">Tag 1</span>
            <span class="badge bg-primary" title="Looked after child">Tag 2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionFamily">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFamily">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFamily" aria-expanded="false" aria-controls="collapseFamily">
          Family
        </button>
      </h2>
      <div id="collapseFamily" class="accordion-collapse collapse show" aria-labelledby="headingFamily" data-bs-parent="#accordionFamily">
        <div class="accordion-body">
          <p class="card-text"><small>Louise Hanson</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionCoordinator">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCoordinator">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCoordinator" aria-expanded="false" aria-controls="collapseCoordinator">
          Case Coordinator
        </button>
      </h2>
      <div id="collapseCoordinator" class="accordion-collapse collapse show" aria-labelledby="headingCoordinator" data-bs-parent="#accordionCoordinator">
        <div class="accordion-body">
          <p class="card-text"><small>Shane Baker</br>
            <a href="#">sbaker@example.com</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionSetting">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSetting">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSetting" aria-expanded="false" aria-controls="collapseSetting">
          Education Setting
        </button>
      </h2>
      <div id="collapseSetting" class="accordion-collapse collapse show" aria-labelledby="headingSetting" data-bs-parent="#accordionSetting">
        <div class="accordion-body">
          <p class="card-text"><small><span class="setting-title">Greenhill School</span></br>
            Aileen Rowse</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionNotes">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNotes">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">
          Notes
        </button>
      </h2>
      <div id="collapseNotes" class="accordion-collapse collapse show" aria-labelledby="headingNotes" data-bs-parent="#accordionNotes">
        <div class="accordion-body">
          <p class="card-text"><small>
            <a href="#">Add case note</a><br>
            <a href="timeline.html">View timeline</a><br>
            <a href="summary.html">View summary</a><br>
            <a href="#">Close case</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionDates">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingDates">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDates" aria-expanded="false" aria-controls="collapseDates">
          Key Dates
        </button>
      </h2>
      <div id="collapseDates" class="accordion-collapse collapse show" aria-labelledby="headingDates" data-bs-parent="#accordionDates">
        <div class="accordion-body">
          <div class="d-flex justify-content-between">
            <small>Request:</small>
            <small>17 Dec 2020</small>
          </div>
          <div class="d-flex justify-content-between">
            <small>Assess decision:</small>
            <small>19 Jan 2021</small>
          </div>
          <div class="d-flex justify-content-between">
            <small>Plan decision:</small>
            <small>1 Apr 2021</small>
          </div>
          <div class="d-flex justify-content-between">
            <small>Completion due:</small>
            <small>5 May 2021</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
