<div class="sidebar mb-2">

  <div>
    <div class="mx-auto avatar">
      <img src="/assets/images/placeholder.jpeg" alt="Photo of the child or young person">
    </div>
    <div class="d-flex justify-content-between">
      <small>Date of birth:</small>
      <small>12 Feb 2008</small>
    </div>
    <div class="d-flex justify-content-between">
      <small>Year group:</small>
      <small>Year 9</small>
    </div>
    <div class="d-flex justify-content-between">
      <small>Case ID:</small>
      <small>AFZ9586</small>
    </div>
    <div class="d-flex justify-content-between">
      <small>Status:</small>
      <a href="/case-view"><small>Stage 5</small></a>
    </div>
    <div>
      <span class="badge bg-danger" title="Safeguarding concern">Tag 1</span>
      <span class="badge bg-primary" title="Looked after child">Tag 2</span>
    </div>
  </div>

  <div>
    <h6>Family</h6>
    <p class="card-text"><small>Louise Hanson</small></p>
  </div>

  <div>
    <h6>Case Coordinator</h6>
    <p class="card-text"><small>Shane Baker<br>
      <a href="#">sbaker@example.com</a></small>
    </p>
  </div>

  <div>
    <h6>Education Setting</h6>
    <p class="card-text"><small><span class="setting-title">Greenhill School</span><br>
        Aileen Rowse</small>
    </p>
  </div>

  <div>
    <h6>Notes</h6>
    <p class="card-text"><small>
      <a href="#">Add case note</a><br>
      <a href="timeline.html">View timeline</a><br>
      <a href="summary.html">View summary</a><br>
      <a href="#">Close case</a></small>
    </p>
  </div>

  <div>
    <h6>Key Dates</h6>
    <div class="d-flex justify-content-between">
      <small>Request:</small>
      <small>17 Dec 2020</small>
    </div>
    <div class="d-flex justify-content-between">
      <small>Assess decision:</small>
      <small>19 Jan 2021</small>
    </div>
    <div class="d-flex justify-content-between">
      <small>Plan decision:</small>
      <small>1 Apr 2021</small>
    </div>
    <div class="d-flex justify-content-between">
      <small>Completion due:</small>
      <small>5 May 2021</small>
    </div>
  </div>

</div>
