<!-- Subject details -->
<div class="d-flex align-items-start">

  <div class="d-flex align-items-center">
    <img src="/assets/images/teenager at college.jpg" class="rounded-1 d-block idx-avatar-card me-3" alt="Photo of Chandler">
    <h2 class="text-dark mb-0">Chandler<br>Tate</h2>
  </div>

  <div class="vr d-none d-md-block mx-3 mx-lg-8"></div>

  <div class="row d-none d-md-flex nbm no-wrap">
    <div class="col">
      <span class="text-muted"><small>Date of birth</small></span>
      <p>01/02/2007 (16)</p>
      <span class="text-muted"><small>Case ID</small></span>
      <p>EHC/21/0123</p>
    </div>
    <div class="col">
      <span class="text-muted"><small>Co-ordinator</small></span>
      <p>Mehul Sandal</p>
      <span class="text-muted"><small>Status</small></span>
      <p>Assessment</p>
    </div>
    <div class="col">
      <span class="text-muted"><small>Setting</small></span>
      <p>Greenhill School (Year 13)</p>
      <span class="text-muted"><small>Tags</small></span>
      <p><span class="badge rounded-pill bg-error-600 me-1" data-bs-toggle="tooltip" data-bs-title="Safeguarding concern">SG</span><span class="badge rounded-pill bg-success-700" data-bs-toggle="tooltip" data-bs-title="Looked After Child">LAC</span></p>
    </div>
  </div>

  <div class="d-flex ms-auto">
    <a class="btn btn-neutral-50 d-md-none" role="button" data-bs-toggle="collapse" href="#case-details" aria-controls="case-details" aria-expanded="false" aria-label="Toggle details">
      <span class="visually-hidden">Details</span><i class="far fa-info-circle" aria-hidden="true"></i>
    </a>
    <div class="dropdown ps-2">
      <a class="btn btn-neutral-50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fal fa-ellipsis-v-alt px-1"></i>
      </a>
      <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Child/young person</h6></li>
        <li><a class="dropdown-item" href="#">Details</a></li>
        <li><a class="dropdown-item" href="#">Change picture</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="dropdown-header">Case</h6></li>
        <li><a class="dropdown-item" href="/case-view">Home</a></li>
        <li><a class="dropdown-item" href="#">Access</a></li>
        <li><a class="dropdown-item" href="/case-view/timeline">Timeline</a></li>
        <li><a class="dropdown-item" href="#">Close case</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="dropdown-header">Other cases</h6></li>
        <li><a class="dropdown-item" href="#">EHC/15/0198</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="collapse d-md-none nbm no-wrap mt-3" id="case-details">
  <div class="row">
    <div class="col">
      <span class="text-muted"><small>Date of birth</small></span>
      <p>01/02/2007 (16)</p>
      <span class="text-muted"><small>Case ID</small></span>
      <p>EHC/21/0123</p>
    </div>
    <div class="col">
      <span class="text-muted"><small>Co-ordinator</small></span>
      <p>Mehul Sandal</p>
      <span class="text-muted"><small>Status</small></span>
      <p>Assessment</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="text-muted"><small>Setting</small></span>
      <p>Greenhill School (Year 13)</p>
      <span class="text-muted"><small>Tags</small></span>
      <p><span class="badge rounded-pill bg-error-600 me-1" data-bs-toggle="tooltip" data-bs-title="Safeguarding concern">SG</span><span class="badge rounded-pill bg-success-700" data-bs-toggle="tooltip" data-bs-title="Looked After Child">LAC</span></p>
    </div>
  </div>
</div>

<!-- End of subject details -->
