<div class="bg-white idx-border p-4">
  <div class="row">
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
      <div class="dropdown idox-status-dropdown">
        <label for="caseStatusDropdown" class="form-label">Case status</label>
        <a id="caseStatusDropdown" class="btn btn-outline-light w-100 d-flex align-items-between text-muted" role="button" data-bs-toggle="dropdown" aria-expanded="false">All</a>
        <ul class="dropdown-menu">
          <li><h6 class="dropdown-header">Assessment and planning</h6></li>
          <li><a class="dropdown-item" href="#">Draft request</a></li>
          <li><a class="dropdown-item" href="#">New request</a></li>
          <li><a class="dropdown-item" href="#">Information gathering</a></li>
          <li><a class="dropdown-item" href="#">Pending assessment decision</a></li>
          <li><a class="dropdown-item" href="#">Assessment declined</a></li>
          <li><a class="dropdown-item" href="#">Assessment</a></li>
          <li><a class="dropdown-item" href="#">Pending EHCP decision</a></li>
          <li><a class="dropdown-item" href="#">EHCP declined</a></li>
          <li><a class="dropdown-item" href="#">Drafting EHCP</a></li>
          <li><a class="dropdown-item" href="#">EHCP consultation</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><h6 class="dropdown-header">EHCP review</h6></li>
          <li><a class="dropdown-item" href="#">Review pending</a></li>
          <li><a class="dropdown-item" href="#">Review arranged</a></li>
          <li><a class="dropdown-item" href="#">Review meeting</a></li>
          <li><a class="dropdown-item" href="#">Drafting review report</a></li>
          <li><a class="dropdown-item" href="#">Pending review decision</a></li>
          <li><a class="dropdown-item" href="#">Drafting amendment</a></li>
          <li><a class="dropdown-item" href="#">Amendment consultation</a></li>
          <li><a class="dropdown-item" href="#">Pending cease</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><h6 class="dropdown-header">Outside a pathway</h6></li>
          <li><a class="dropdown-item" href="#">Drafting amendment</a></li>
          <li><a class="dropdown-item" href="#">Amendment consultation</a></li>
          <li><a class="dropdown-item" href="#">EHCP ceased</a></li>
          <li><a class="dropdown-item" href="#">Case stopped</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
      <div class="me-3 mb-4">
        <label for="coordinatorDataList" class="form-label">Case co-ordinator</label>
        <input class="form-control" list="coordinator-datalistOptions" id="coordinatorDataList" placeholder="All">
        <datalist id="coordinator-datalistOptions">
          <option value="Adrian Cole">
          <option value="Blanche Fox">
          <option value="Ralph Williamson">
          <option value="Unassigned">
        </datalist>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
      <div class="me-3 mb-2">
        <label for="datePicker" class="form-label">Last updated</label>
        <input type="date" class="form-control" id="datePicker">
      </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
      <div class="me-3 mb-4">
        <label for="year-groupDataList" class="form-label">Year group</label>
        <input class="form-control" list="year-group-datalistOptions" id="year-groupDataList" placeholder="All">
        <datalist id="year-group-datalistOptions">
          <option value="Nusery">
          <option value="Reception">
          <option value="Year 1">
          <option value="Year 2">
          <option value="Year 3">
          <option value="Year 4">
          <option value="Year 5">
          <option value="Year 6">
          <option value="Year 7">
          <option value="Year 8">
          <option value="Year 9">
          <option value="Year 10">
          <option value="Year 11">
          <option value="Year 12">
          <option value="Year 13">
          <option value="Year 14">
          <option value="None recorded">
        </datalist>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
      <div class="me-3 mb-4">
        <label for="settingDataList" class="form-label">Setting</label>
        <input class="form-control" list="setting-datalistOptions" id="settingDataList" placeholder="All">
        <datalist id="setting-datalistOptions">
          <option value="Busy Bees Nursery">
          <option value="Greenhill School">
          <option value="St Mary's Primary School">
          <option value="The Tim Peake School of Technology">
          <option value="Unattached">
        </datalist>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-4 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckImpending">
        <label class="form-check-label" for="flexCheckImpending">
          Impending deadline
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckOverdue">
        <label class="form-check-label" for="flexCheckOverdue">
          Overdue deadline
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckImported">
        <label class="form-check-label" for="flexCheckImported">
          Imported plan
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckHide">
        <label class="form-check-label" for="flexCheckHide">
          Include closed cases
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckSafeguarding">
        <label class="form-check-label" for="flexCheckSafeguarding">
          Safeguarding
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckEOTAS">
        <label class="form-check-label" for="flexCheckEOTAS">
          EOTAS
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckLAC">
        <label class="form-check-label" for="flexCheckLAC">
          Looked after child
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckNeet">
        <label class="form-check-label" for="flexCheckNeet">
          NEET
        </label>
      </div>
    </div>
  </div>

  <a href="#" role="button" class="btn btn-neutral-50 mt-5"><i class="fal fa-sync me-2"></i>Update results</a>

</div>
