<div class="bg-neutral-25 idx-border p-4">
  <div class="row">
    <h6 class="card-heading mt-0 mb-2">Roles</h6>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCoordinator">
        <label class="form-check-label" for="flexCheckCoordinator">
          Co-ordinator
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckContributor">
        <label class="form-check-label" for="flexCheckContributor">
          Contributor
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckParent">
        <label class="form-check-label" for="flexCheckParent">
          Parent
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckSettingAdmin">
        <label class="form-check-label" for="flexCheckSettingAdmin">
          Setting admin
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckSettingUser">
        <label class="form-check-label" for="flexCheckSettingUser">
          Setting user
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <h6 class="card-heading mt-2 mb-2">Status</h6>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckActive">
        <label class="form-check-label" for="flexCheckActive">
          Active
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckInvited">
        <label class="form-check-label" for="flexCheckInvited">
          Invited
        </label>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckSuspended">
        <label class="form-check-label" for="flexCheckSuspended">
          Suspended
        </label>
      </div>
    </div>

  </div>

  <a href="#" role="button" class="btn btn-neutral-50 mt-5"><i class="fal fa-sync me-2"></i>Update results</a>

</div>
