<!-- Plan stage tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link tab active" aria-current="page" href="#">Plan contents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab" href="#">Consultations</a>
  </li>
</ul>
<!-- Plan sections -->
<div class="stage-section task-list">
  <div class="row">
    <div class="col-xl-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Section A <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">About me</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">All about me</a></td>
          </tr>
          <tr>
            <td><a href="#">My parent or carer views</a></td>
          </tr>
          <tr>
            <td><a href="#">Local authority background</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Sections B, E and F <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">Special educational needs, outcomes and provision</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Summary of special educational needs</a></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">
              <a href="#">Communication and interaction</a>
              <span class="badge rounded-pill badge-outlined-need"><i class="bi bi-check2"></i> Identified need</span>
            </td>
          </tr>
          <tr>
            <td><a href="#">Cognition and learning</a></td>
          </tr>
          <tr>
            <td><a href="#">Sensory and/or physical needs</a></td>
          </tr>
          <tr>
            <td><a href="#">Social, emotional and mental health</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Sections C, E and G <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">Health needs, outcomes and provisions</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="d-flex justify-content-between">
              <a href="#">Health</a>
              <span class="badge rounded-pill badge-outlined-need"><i class="bi bi-check2"></i> Identified need</span>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Section D, E, H1 and H2 <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">Social care needs, outcomes and provision</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Social care</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Section I <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">Educational placement</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Educational placement</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Section J <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">Personal budget</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Budget information</a></td>
          </tr>
          <tr>
            <td><a href="#">Annual cost of support</a></td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h4>Section K <a href=#><i class="bi bi-info-circle"></i></a></h4>
              <span class="table-sub-heading">Information and advice</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Advice contributions</a></td>
          </tr>
          <tr>
            <td><a href="#">Monitoring and review</a></td>
          </tr>
          <tr>
            <td><a href="#">Chronology</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
