<aside class="idx-sidenav d-md-block border-end bg-white" id="idx-sidenav-case">
    <!-- #BeginLibraryItem "/Library/Contents.lbi" -->
    <nav class="collapse idx-links sticky-top d-block" aria-label="Case navigation">
        <div class="idx-case-sidebar mb-0 pt-1 pb-5 px-4 px-md-1" id="idx-menu">

          <div class="d-flex justify-content-end justify-content-md-between align-items-start my-3 px-2">
            <h1 class="d-none d-md-block mb-0 fs-2 no-border">Ellery Holden</h1>
            <div class="dropdown">
              <a class="idx-link text-neutral-500" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fa-stack fa-w">
                  <i class="fal fa-ellipsis-h fa-stack-1x fa-w"></i>
                  <i class="fal fa-circle fa-stack-1x fa-w"></i>
                </span>
              </a>
              <ul class="dropdown-menu idx-dropdown">
                <li><a class="dropdown-item text-neutral-600" href="#">Edit details</a></li>
                <li><a class="dropdown-item text-neutral-600" href="#">Change picture</a></li>
              </ul>
            </div>
          </div>

          <div class="my-3 px-2">
            <img src="/assets/images/boy running.jpg" class="rounded d-block idx-avatar-card" alt="avatar">
          </div>

          <div class="my-3 px-2">
            <div class="d-flex justify-content-between">
              <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="">Date of birth</p>
              <p class="idx-sidebar-accordion-text mb-1">23 Jun 2016</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="National curriculum year">Year group</p>
              <p class="idx-sidebar-accordion-text mb-1">Year 4</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="Case reference">Reference</p>
              <p class="idx-sidebar-accordion-text mb-1">EHC/21/0183</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="Case status">Status</p>
              <p class="idx-sidebar-accordion-text mb-1">Draft EHC Plan</p>
            </div>
          </div>

          <div id="subject-tags">
            <span class="badge rounded-pill bg-error-600 ms-2" title="Safeguarding concern">SG</span>
            <span class="badge rounded-pill bg-success-700" title="Looked after child">LAC</span>
          </div>

          <div class="accordion mt-2" id="accordion-case-sidebar">
            <div class="accordion-item border-0 bg-white">
              <h2 class="accordion-header" id="accordion-case-sidebar-headingOne">
                <button class="accordion-button bg-white idx-sidebar-accordion-text fw-500 py-2 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-case-sidebar-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  Family
                </button>
              </h2>
              <div id="accordion-case-sidebar-collapseOne" class="accordion-collapse collapse show" aria-labelledby="accordion-case-sidebar-headingOne">
                <div class="accordion-body idx-sidebar-accordion-text text-neutral-500 px-2">
                  <div class="d-flex justify-content-between align-items-start mb-1">
                    Shane Holden
                    <a href="#" title="Remove person"><i class="fal fa-trash-alt text-neutral-500 me-1"></i></a>
                  </div>
                  <div class="mt-2">
                    <a href="#"><i class="fal fa-plus-circle me-1"></i>Add person</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0 bg-white">
              <h2 class="accordion-header" id="accordion-case-sidebar-headingTwo">
                <button class="accordion-button bg-white idx-sidebar-accordion-text fw-500 py-2 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-case-sidebar-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                  Case co-ordinator
                </button>
              </h2>
              <div id="accordion-case-sidebar-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="accordion-case-sidebar-headingTwo">
                <div class="accordion-body idx-sidebar-accordion-text text-neutral-500 px-2">
                  <div class="d-flex justify-content-between align-items-start">
                    Bob Schneider
                    <a href="#" title="Remove person"><i class="fal fa-trash-alt text-neutral-500 me-1"></i></a>
                  </div>
                  <span class="break-word text-neutral-500" title="bob.schneider@edgehill.com"><small>bob.schneider@edgehill.gov</small></span>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0 bg-white">
              <h2 class="accordion-header" id="accordion-case-sidebar-headingThree">
                <button class="accordion-button bg-white idx-sidebar-accordion-text fw-500 py-2 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-case-sidebar-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                  Education setting
                </button>
              </h2>
              <div id="accordion-case-sidebar-collapseThree" class="accordion-collapse collapse show" aria-labelledby="accordion-case-sidebar-headingThree">
                <div class="accordion-body idx-sidebar-accordion-text text-neutral-500 px-2">
                  <ul class="list-unstyled">
                    <li class="idx-sidebar-accordion-text text-neutral-800 mb-2">
                      <div class="d-flex justify-content-between align-items-start">
                        Greenhill School
                        <a href="#" title="Remove setting"><i class="fal fa-trash-alt text-neutral-500 me-1"></i></a>
                      </div>
                      <small>(01234 567890)</small>
                    </li>
                    <li class="idx-sidebar-accordion-text mb-1">
                      <div class="d-flex justify-content-between align-items-start">
                        Aileen Rowse
                        <a href="#" title="Remove person"><i class="fal fa-trash-alt text-neutral-500 me-1"></i></a>
                      </div>
                    </li>
                    <li class="idx-sidebar-accordion-text mb-2">
                      <div class="d-flex justify-content-between align-items-start">
                        Greg Peters
                        <a href="#" title="Remove person"><i class="fal fa-trash-alt text-neutral-500 me-1 "></i></a>
                      </div>
                    </li>
                  </ul>
                  <div class="mt-2 d-flex flex-column">
                    <a href="#"><i class="fal fa-plus-circle fa-fw me-1 mb-2"></i>Add person</a>
                    <a href="#"><i class="fal fa-plus-circle fa-fw me-1 mb-2"></i>Add setting</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0 bg-white">
              <h2 class="accordion-header" id="accordion-case-sidebar-headingFour">
                <button class="accordion-button bg-white idx-sidebar-accordion-text fw-500 collapsed py-2 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-case-sidebar-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  Notes
                </button>
              </h2>
              <div id="accordion-case-sidebar-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordion-case-sidebar-headingFour">
                <div class="accordion-body idx-sidebar-accordion-text d-flex flex-column px-2">
                  <a href="#"><i class="fal fa-pencil-alt fa-fw me-1 mb-2"></i>Add note</a>
                  <a href="#"><i class="fal fa-history fa-fw me-1 mb-2"></i>Timeline</a>
                  <a href="#"><i class="fal fa-ban fa-fw me-1 mb-2"></i>Close case </a>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0 bg-white">
              <h2 class="accordion-header" id="accordion-case-sidebar-headingFive">
                <button class="accordion-button bg-white idx-sidebar-accordion-text fw-500 py-2 px-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-case-sidebar-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                  Key dates
                </button>
              </h2>
              <div id="accordion-case-sidebar-collapseFive" class="accordion-collapse collapse" aria-labelledby="accordion-case-sidebar-headingFive">
                <div class="accordion-body idx-sidebar-accordion-text px-2">
                  <div class="d-flex justify-content-between">
                    <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="Date of birth">Request date</p>
                    <p class="idx-sidebar-accordion-text mb-1">28 Aug 2022</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="National curriculum year">Assess decision</p>
                    <p class="idx-sidebar-accordion-text mb-1">8 Oct 2022</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="Case reference">Plan decision</p>
                    <p class="idx-sidebar-accordion-text mb-1">17 Dec 2022</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="idx-sidebar-accordion-text text-neutral-500 mb-1" title="Case status">Plan due</p>
                    <p class="idx-sidebar-accordion-text mb-1">14 Jan 2023</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </nav>
    <!-- #EndLibraryItem -->
</aside>
