---
layout: default
title: EHC Hub
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}

  <main id="content" class="main container-fluid mt-6 px-6 px-lg-8">
    <div class="row gx-5 gy-2 px-xl-5">
      <div class="col">

        <h1>Request an EHC needs assessment</h1>
        <p>Complete and submit the form on this page to request an EHC needs assessment for a child or young person (0 - 25 years). The request can be completed in part and returned to at a later time. The local authority will not be able to see your request until you choose to submit it. <a href="#">More...</a></p>

        {% include actions-new-request.html %}

        <div class="accordion" id="accordionExample">
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Consent
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                <div class="form-check mb-5">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    I (the requester) confirm that consent has been explicitly given by the parent, carer, guardian or young person (over 16) to the gathering and sharing of information between the child or young person’s educational setting, health services, social care or other professionals/organisations as necessary to support the EHC needs assessment and planning process.
                  </label>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Please record any limitations expressed to the gathering and sharing of information (i.e. where there are individuals or organisations with whom information should not be shared, including reasons)</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Details of person requesting an EHC needs assessment
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Child or young person's details
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Child or young person's main contacts (family and involved professionals)
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Current education setting(s)
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Previous setting(s)
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Important information about the child or young person
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Views of the child or young person and their parent, carer or guardian
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Identified special educational needs (SEN)
              </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
          <div class="accordion-item my-5">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Supporting documents
              </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse">
              <div class="accordion-body">
                ...
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

</div>
