---
layout: default
title: SEND Hub
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}

  <main id="content" class="main container-fluid mt-5 px-6 px-lg-8 table-no-case">
    <div class="row">
      <div class="col">

        {% include case-details.html %}

        <hr>

        <div class="d-flex flex-column flex-md-row justify-content-md-between text-neutral-600">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/case-view">Case home</a></li>
              <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="assessment">Assessment</a></li>
              <li class="breadcrumb-item active" aria-current="page">Advice</li>
            </ol>
          </nav>
          <p class="mb-0">Decision due: 14 Dec 2025</p>
        </div>

        <!-- Callout -->
        <div class="callout callout-info mb-0">
          <h3>Request for Advice</h3>
          <p>Helen Clarkson - Occupational Therapist</p>
          <p>Assessment process under Section 36 (1) of the Children and Families Act 2014. A decision has been made to carry out an EHC needs assessment for Chandler and you have been requested to provide advice. Your response is due by <strong>8 Nov 2025</strong>.</p>
        </div>

        {% include actions-advice.html %}

        <div class="row g-8">

          <!-- Advice table of contents -->
          <div class="col-lg-2 d-none d-lg-block text-muted">
            <div class="sticky-top toc">
              <h5>Advice sections</h5>
              <hr>
              <nav class="d-flex flex-column gap-2" id="toc-advice">
                <a href="#response-details">Response Details</a>
                <a href="#background">Background</a>
                <a href="#cai">Communication and Interaction</a>
                <a href="#cal">Cognition and Learning</a>
                <a href="#semh">Social, Emotional and Mental Health</a>
                <a href="#sph">Sensory and/or Physical Health</a>
                <a href="#health">Health</a>
                <a href="#sc">Social Care</a>
                <a href="#documents">Documents</a>
              </nav>
            </div>
          </div>

          <!-- Advice form -->
          <div class="col-lg-10" data-bs-spy="scroll" data-bs-target="#toc-advice" data-bs-offset="80" class="toc-scrollspy" tabindex="0">

            <div class="card mb-6 toc-anchor" id="response-details">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Response Details</span>
                  <span class="badge rounded-pill text-bg-danger">Incomplete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <form>
                  <div class="mb-5">
                    <p class="required fw-500">Are you providing a response on behalf of someone else?</p>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                  </div>
                  <div class="mb-5">
                    <label for="exampleInput1" class="form-label required">Name of the person providing advice</label>
                    <input type="text" class="form-control" id="exampleInput1" aria-describedby="input1Help">
                    <div id="input1Help" class="form-text">If the local authority later decide to issue an EHC Plan, this will be the name attributed to the advice submission in Section K.</div>
                  </div>
                  <div class="mb-5">
                    <label for="exampleInput2" class="form-label required">Job title or role of the person providing advice</label>
                    <input type="text" class="form-control" id="exampleInput2" aria-describedby="input2Help">
                    <div id="input2Help" class="form-text">This will give greater context to your response for Chandler, their parent/carers and other professionals. This is saved in your profile should you wish to update it for future advice requests.</div>
                  </div>
                </form>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="background">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Background</span>
                  <span class="badge rounded-pill text-bg-danger">Incomplete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">When did the child or young person first come into contact with your organisation?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea2" class="form-label">Details of any discussions held between the child or young person and your organisation (if relevant)</label>
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea3" class="form-label">Details of any discussions held between the parent(s) or carer(s) and your organisation (if relevant)</label>
                  <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea4" class="form-label">What has your organisation put in place already to support the child or young person's needs?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea5" class="form-label">What has been the effect of any support or strategies already put in place by your organisation?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="cai">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Communication and Interaction</span>
                  <span class="badge rounded-pill text-bg-danger">Incomplete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p>Children and young people with speech, language and communication needs (SLCN) have difficulty in communicating with others. More information is provided at paragraphs 6.28-6.29 of the SEND Code of Practice.</p>
                <div class="mb-5">
                  <p class="required fw-500">Are you identifying a learning need in this area?</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio3">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio4" value="option2">
                    <label class="form-check-label" for="inlineRadio4">No</label>
                  </div>
                  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                </div>
                <p class="card-text callout callout-info">If a decision is later made to issue an EHCP, the following may be used in Section B.</p>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea6" class="form-label">What are Chandler's strengths related to learning in this area?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea6" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea7" class="form-label">What are Chandler's needs related to learning in this area?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea7" rows="3"></textarea>
                </div>
                <p class="card-text callout callout-info">Long-term outcomes for the next key-stage to meet Chandler's identified needs in this area. Outcomes should be SMART (Specific, Measurable, Achievable, Realistic and Time-bound) and specify if they relate to education or training. If a decision is later made to issue an EHCP, the following may be used in Section E.</p>
                <div class="mb-3 outcome">
                  <label for="exampleFormControlTextarea8" class="form-label">Outcome 1</label>
                  <textarea class="form-control" id="exampleFormControlTextarea8" rows="3" aria-label="Disabled input example">Riley will independently use a taught strategy (e.g., visual organiser + sentence frames) to contribute at least two relevant points in four out of five structured class discussions per fortnight across English, Science, and Humanities, evidenced by teacher tallies/work samples.</textarea>
                  <small>Preparing for adulthood themes: Employment, Good Health</small>
                </div>
                <div class="mb-3 outcome">
                  <label for="exampleFormControlTextarea9" class="form-label">Outcome 2</label>
                  <textarea class="form-control" id="exampleFormControlTextarea9" rows="3" aria-label="Disabled input example">Riley will independently use a taught strategy (e.g., visual organiser + sentence frames) to contribute at least two relevant points in four out of five structured class discussions per fortnight across English, Science, and Humanities, evidenced by teacher tallies/work samples.</textarea>
                  <small>Preparing for adulthood themes: Friends, Relationships and Community</small>
                </div>
                <a class="btn btn-neutral-50 me-2 mt-2" href="#"><i class="fal fa-plus-circle me-2"></i>Add outcome</a>
                <p class="card-text callout callout-info">Provision to achieve Chandler's outcomes. If a decision is later made to issue an EHCP, the following may be used in Section F.</p>
                <div class="mb-3 provision">
                  <label for="exampleFormControlTextarea10" class="form-label">Provision 1</label>
                  <textarea class="form-control" id="exampleFormControlTextarea10" rows="3" aria-label="Disabled input example">Riley will independently use a taught strategy (e.g., visual organiser + sentence frames) to contribute at least two relevant points in four out of five structured class discussions per fortnight across English, Science, and Humanities, evidenced by teacher tallies/work samples.</textarea>
                  <div class="row g-3 mt-1">
                    <div class="col col-md-6">
                      <label for="providedBy" class="form-label">Provided by</label>
                      <input type="text" class="form-control" id="providedBy" aria-label="Provided by">
                    </div>
                    <div class="col col-md-6">
                      <label for="ratio" class="form-label">Staff/student ratio</label>
                      <input type="text" class="form-control" id="ratio" aria-label="Ratio">
                    </div>
                  </div>
                  <div class="row g-3 mt-1">
                    <div class="col col-md-6">
                      <label for="quantity" class="form-label">Quantity</label>
                      <input type="text" class="form-control" id="quantity" aria-label="Quantity">
                    </div>
                    <div class="col col-md-6">
                      <label for="frequency" class="form-label">Frequency</label>
                      <input type="text" class="form-control" id="frequency" aria-label="Frequency">
                    </div>
                  </div>
                </div>
                <a class="btn btn-neutral-50 me-2 mt-2" href="#"><i class="fal fa-plus-circle me-2"></i>Add provision</a>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="cal">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Cognition and Learning</span>
                  <span class="badge rounded-pill text-bg-success">Complete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p>Support for learning difficulties may be required when children and young people learn at a slower pace than their peers, even with appropriate differentiation. More information is provided at paragraphs 6.30-6.31 of the SEND Code of Practice.</p>
                <div class="mb-5">
                  <p class="required fw-500">Are you identifying a learning need in this area?</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio5" value="option1">
                    <label class="form-check-label" for="inlineRadio5">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio6" value="option2" checked>
                    <label class="form-check-label" for="inlineRadio6">No</label>
                  </div>
                  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="semh">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Social, Emotional and Mental Health</span>
                  <span class="badge rounded-pill text-bg-success">Complete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p>Children and young people may experience a wide range of social, emotional and mental health difficulties which manifest themselves in many ways. These may include becoming withdrawn or isolated, or finding it hard to manage emotions. More information is provided at paragraphs 6.32-6.33 of the SEND Code of Practice.</p>
                <div class="mb-5">
                  <p class="required fw-500">Are you identifying a learning need in this area?</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio7" value="option1">
                    <label class="form-check-label" for="inlineRadio7">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio8" value="option2" checked>
                    <label class="form-check-label" for="inlineRadio8">No</label>
                  </div>
                  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="sph">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Sensory and/or Physical Health</span>
                  <span class="badge rounded-pill text-bg-success">Complete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p>Some children and young people require special educational provision because they have a disability which prevents or hinders them from making use of the educational facilities generally provided. More information is provided at paragraphs 6.34-6.35 of the SEND Code of Practice.</p>
                <div class="mb-5">
                  <p class="required fw-500">Are you identifying a learning need in this area?</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio9" value="option1">
                    <label class="form-check-label" for="inlineRadio9">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio10" value="option2" checked>
                    <label class="form-check-label" for="inlineRadio10">No</label>
                  </div>
                  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="health">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Health</span>
                  <span class="badge rounded-pill text-bg-success">Complete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p>The child or young person’s health care needs which relate to their SEN.</p>
                <div class="mb-5">
                  <p class="required fw-500">Are you identifying a learning need in this area?</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio11" value="option1">
                    <label class="form-check-label" for="inlineRadio11">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio12" value="option2" checked>
                    <label class="form-check-label" for="inlineRadio12">No</label>
                  </div>
                  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="sc">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Social Care</span>
                  <span class="badge rounded-pill text-bg-success">Complete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p>Social care needs which relate to the SEN.</p>
                <div class="mb-5">
                  <p class="required fw-500">Are you identifying a learning need in this area?</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadio13" value="option1">
                    <label class="form-check-label" for="inlineRadio13">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadio14" value="option2" checked>
                    <label class="form-check-label" for="inlineRadio14">No</label>
                  </div>
                  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#"><small>Clear selection</small></a>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

            <div class="card mb-6 toc-anchor" id="documents">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Documents</span>
                  <span class="badge rounded-pill text-bg-success">Complete</span>
                </div>
              </div>
              <div class="card-body px-6">
                <p class="card-text callout callout-info">Upload any additional documents which may evidence your advice.</p>
                <div class="mb-5 table-responsive">
                 <table class="table table-striped table-hover table-borderless idx-results-table align-middle no-wrap mt-0">
                   <thead>
                     <tr>
                       <th scope="col">Label<i class="fa fa-sort ms-1"></i></th>
                       <th scope="col">Filename<i class="fa fa-sort ms-1"></i></th>
                       <th scope="col" class="text-center">Actions</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td class="table-name-label">SALT report</td>
                       <td>salt_assessment_report_CT.pdf</td>
                       <td class="text-center">
                         <div class="dropdown dropstart">
                           <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <i class="fal fa-ellipsis-v-alt"></i>
                           </a>
                           <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href="#">Remove</a></li>
                           </ul>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td class="table-name-label">SALT report</td>
                       <td>salt_assessment_report_CT.pdf</td>
                       <td class="text-center">
                         <div class="dropdown dropstart">
                           <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <i class="fal fa-ellipsis-v-alt"></i>
                           </a>
                           <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href="#">Remove</a></li>
                           </ul>
                         </div>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </div>
                <a class="btn btn-neutral-50 me-2 mt-2" href="#"><i class="fal fa-file-upload me-2"></i>Upload document</a>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                  <label class="form-check-label" for="checkDefault">
                    Section complete
                  </label>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </main>

</div>
