---
layout: default
title: EHC Hub
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}

  <main id="content" class="main container-fluid mt-5 px-6 px-lg-8 table-no-case">
    <div class="row">
      <div class="col">

        {% include case-details.html %}

        <hr>

        <div class="d-flex flex-column flex-md-row justify-content-md-between text-neutral-600">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/case-view">Case home</a></li>
              <li class="breadcrumb-item"><a href="assessment">Assessment</a></li>
              <li class="breadcrumb-item active" aria-current="page">Advice</li>
            </ol>
          </nav>
          <p class="mb-0">Decision due: 14 Jan 2023</p>
        </div>

        <!-- Callout -->
        <div class="callout callout-info mb-0">
          <h3>Request for Advice</h3>
          <p>Helen Clarkson - Occupational Therapist</p>
          <p>Assessment process under Section 36 (1) of the Children and Families Act 2014. A decision has been made to carry out an EHC needs assessment for Chandler and you have been requested to provide advice. Your response is due by <strong>6 Nov 2022</strong>.</p>
        </div>

        {% include actions-advice.html %}

        <div class="row g-8">

          <div class="col-md-3 text-muted">
            <div class="sticky-top toc" id="toc-advice">
              <h5>Advice sections</h5>
              <hr>
              <ul class="nav flex-column">
                <li><a href="#">Response Details</a></li>
                <li><a href="#">Background</a></li>
                <li><a href="#">Communication and Interaction</a></li>
                <li><a href="#">Cognition and Learning</a></li>
                <li><a href="#">Social, Emotional and Mental Health</a></li>
                <li><a href="#">Sensory and/or Physical Health</a></li>
                <li><a href="#">Health</a></li>
                <li><a href="#">Social Care</a></li>
                <li><a href="#">Documents</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-9">

            <div class="card mb-4">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <span>Response Details</span>
                  <span class="text-danger">Not started<i class="fal fa-exclamation-circle ms-1"></i></span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <span>Background</span>
                  <span class="text-success">Completed<i class="fal fa-check-circle ms-1"></i></span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <span>Response Details</span>
                  <span class="text-danger">Not started<i class="fal fa-exclamation-circle ms-1"></i></span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <span>Response Details</span>
                  <span class="text-danger">Not started<i class="fal fa-exclamation-circle ms-1"></i></span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <span>Response Details</span>
                  <span class="text-danger">Not started<i class="fal fa-exclamation-circle ms-1"></i></span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
                <p class="card-text">Are you providing a response on behalf of someone else?</p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </main>

</div>
