---
layout: default
title: EHC Hub
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}

  <main id="content" class="main container-fluid mt-5 px-6 px-lg-8 table-no-case">
    <div class="row">
      <div class="col">

        {% include case-details.html %}

        <hr>

        <div class="d-flex flex-column flex-md-row justify-content-md-between text-neutral-600">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/summary">Case home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Assessment</li>
            </ol>
          </nav>
          <p class="mb-0">Decision due: 14 Jan 2023</p>
        </div>

        <!-- Callout -->
        <div class="callout callout-info mb-0">
          <h3>EHC Needs Assessment</h3>
          <p>Assessment process under Section 36 (1) of the Children and Families Act 2014. Please ensure that all relevant professional contributors have been requested to provide advice and the family have appropriate support in place to complete "About me" and "Parent/carer's views" below.</p>
        </div>

        {% include actions-assessment-alternate.html %}

        <!-- Requests for advice -->
        <h4>Requests for advice</h4>

        <div class="mb-5 table-responsive">
           <table class="table table-striped table-hover table-borderless idx-results-table align-middle no-wrap mt-0">
             <thead>
               <tr>
                 <th scope="col">#<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Name<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Job title<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Specialism<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Requested<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Due<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Completed<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col">Status<i class="fa fa-sort ms-1"></i></th>
                 <th scope="col" class="text-center">Actions</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <th scope="row">1</th>
                 <td class="table-name-label">Robyn Sayer</td>
                 <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="SENCo">SENCo</span></td>
                 <td>Education</td>
                 <td>27/09/2022</td>
                 <td>08/11/2022</td>
                 <td></td>
                 <td><span class="badge rounded-pill text-bg-warning w-100">Pending</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Close</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
               <tr>
                 <th scope="row">2</th>
                 <td class="table-name-label">Peter Jameson</td>
                 <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Educational Psychologist">Educational Psychologist</span></td>
                 <td>Education</td>
                 <td>27/09/2022</td>
                 <td>08/11/2022</td>
                 <td>10/11/2022</td>
                 <td><span class="badge rounded-pill text-bg-danger w-100">Closed</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Re-open</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
               <tr>
                 <th scope="row">3</th>
                 <td class="table-name-label">Helen Clarkson</td>
                 <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Occupational Therapist">Occupational Therapist</span></td>
                 <td>Health</td>
                 <td>27/09/2022</td>
                 <td>08/11/2022</td>
                 <td>06/11/2022</td>
                 <td><span class="badge rounded-pill text-bg-success w-100">Completed</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Read</a></li>
                       <li><a class="dropdown-item" href="#">Re-open</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
               <tr>
                 <th scope="row" rowspan="3" class="align-top">4</th>
                 <td class="table-name-label">Social Care</td>
                 <td></td>
                 <td>Social Care</td>
                 <td>27/09/2022</td>
                 <td>08/11/2022</td>
                 <td></td>
                 <td><span class="badge rounded-pill text-bg-warning w-100">Pending</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Close</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
               <tr>
                 <td class="table-name-label">Kerry Holmes</td>
                 <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Social Worker">Social Worker</span></td>
                 <td>Social Care</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td><span class="badge rounded-pill text-bg-warning w-100">Pending</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Close</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
               <tr>
                 <td class="table-name-label">Henry Fowler</td>
                 <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Social Worker">Social Worker</span></td>
                 <td>Social Care</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td><span class="badge rounded-pill text-bg-success w-100">Completed</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Read</a></li>
                       <li><a class="dropdown-item" href="#">Re-open</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
               <tr>
                 <th scope="row">5</th>
                 <td class="table-name-label">Julie Grange</td>
                 <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Physio">Physio</span></td>
                 <td>Health</td>
                 <td>27/09/2022</td>
                 <td>08/11/2022</td>
                 <td>06/11/2022</td>
                 <td><span class="badge rounded-pill text-bg-success w-100">Completed</span></td>
                 <td class="text-center">
                   <div class="dropdown dropstart">
                     <a class="px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fal fa-ellipsis-v-alt"></i>
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Read</a></li>
                       <li><a class="dropdown-item" href="#">Re-open</a></li>
                     </ul>
                   </div>
                 </td>
               </tr>
             </tbody>
           </table>
         <div class="d-flex justify-content-lg-end mt-2 mt-lg-0">
           <a class="btn btn-neutral-50" href="#"><i class="fal fa-plus-circle me-2"></i>Add request</a>
         </div>
       </div>

       <!-- About me -->
       <div class="mb-5">
         <h4>About me</h4>
         <p>This section is about what is important to the child or young person. Where possible, this section should be completed by the child or young person themselves. Where support has been given or where it has been completed on behalf of the child or young person, it should be made clear in each section whether the child has directly quoted the statements or if they have been summarised. The content from this section will later be included in Section A of the EHC Plan if the local authority decide to issue one.</p>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_1.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things that are important to me</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_2.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things that are working well at home and school</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_3.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Other information I think is important to know about me</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_4.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Important things to know about my past</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_5.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things that I enjoy doing</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_6.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">How to communicate with me</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 px-2 pt-2">
                  <img src="/assets/images/about_7.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">My hope, dreams and aspirations for the future</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-success-50 p-2">
                  <img src="/assets/images/about_8.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things I would like to change at home and at school</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Parent/carer views -->
        <div class="my-5">
          <h4>Parent/carer's views</h4>
          <p>This section is for the child or young person’s parents/carers to give their views. The content from this section will later be included in Section A of the EHC Plan if the local authority decide to issue one.</p>

          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-warning-100 p-2">
                  <img src="/assets/images/parent_1.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things that are important to me</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-warning-100 p-2">
                  <img src="/assets/images/parent_2.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things that are working well at home and school</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-warning-100 p-2">
                  <img src="/assets/images/parent_3.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Other information I think is important to know about me</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-warning-100 p-2">
                  <img src="/assets/images/parent_4.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Important things to know about my past</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <div class="card-img-top bg-warning-100 p-2">
                  <img src="/assets/images/parent_5.png" class="img-about" alt="Cartooon canvas on easel">
                </div>
                <div class="card-body">
                  <p class="card-text">Things that I enjoy doing</p>
                  <a href="#">Open</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </main>

</div>
