---
layout: default
title: Stage 5
---

<div class="case-content">

  <div class="row container-fluid g-0">
    <div class="col-12 px-4 py-2 d-flex case-title justify-content-between">
      <h5 class="m-0 p-0">Mason Hall</h5>
      <p class="m-0 p-0">Plan issue due: 5 May 2021</p>
    </div>
  </div>

  <div class="row container-fluid g-0">

    <div class="col-md-4 col-lg-3 order-2 order-md-2 px-2">

      {% include case-sidebar.html %}

    </div>

    <div class="col-md-8 col-lg-9 order-1 order-md-2 px-2">

      {% include assessment-progress.html %}

      {% include actions-bar-plan.html %}

      <!-- Onscreen guidance -->
      <div class="stage-section">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur... <a href="#">read more</a></p>
      </div>

      {% include plan-stage.html %}

    </div>

  </div>

</div>
