---
layout: default
title: EHC Hub
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}


  <div class="d-flex d-md-none justify-content-between align-items-start idx-border-b mt-3 px-6 pb-2">
    <h1 class="mb-0 fs-2 no-border">Ellery Holden</h1>
    <a class="d-block d-md-none align-self-center" role="button" data-bs-toggle="collapse" href="#idx-sidenav-case" aria-controls="idx-sidenav-case" aria-expanded="false" aria-label="Toggle navigation">
      <span class="visually-hidden">Case side menu</span>
      <i class="fal fa-info-circle fs-2 text-neutral-600"></i>
    </a>
  </div>

  {% include sidenav-case.html %}

  <main id="content" class="main container-fluid mt-6 px-6 px-lg-8">
    <div class="row gx-5 gy-2 px-xl-5">
      <div class="col">

        {% include assessment-progress.html %}

        <div class="d-flex justify-content-between text-neutral-500">
          <p class="d-none d-md-block">Plan decision: 17 Dec 2022</p>
          <p>Plan due: 14 Jan 2023</p>
          <div class="d-md-none dropdown">
            <a class="idx-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">Stages<i class="fal fa-angle-down ms-1"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Request</a></li>
              <li><a class="dropdown-item" href="#">Decision</a></li>
              <li><a class="dropdown-item" href="#">Assessment</a></li>
              <li><a class="dropdown-item" href="#">Decision</a></li>
              <li><a class="dropdown-item" href="#">Plan</a></li>
            </ul>
          </div>
        </div>

        <h1 class="no-border">Education, Health and Care Plan</h1>
        <p>The plan is initially put together using all of the contributed advice and views from the Assessment stage. This can be changed and shaped in to a draft plan to share with the young person, parents, carers or guardians, education setting and proffessionals involved in the needs assessment.</p>

        {% include actions-plan.html %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Section A</h2>
              </div>
              <div class="card-body">
                <p class="card-text">All about me and my parent/carer's views</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Sections B, E, F</h2>
              </div>
              <div class="card-body">
                <p class="card-text">Special Educational Needs, outcomes and provisions</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Sections C, E, G</h2>
              </div>
              <div class="card-body">
                <p class="card-text">Health needs, outcomes and provisions</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Sections D, E, H1, H2</h2>
              </div>
              <div class="card-body">
                <p class="card-text">Social care needs, outcomes and provisions</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Section I</h2>
              </div>
              <div class="card-body">
                <p class="card-text">Education setting</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Section J</h2>
              </div>
              <div class="card-body">
                <p class="card-text">Personal budget</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-secondary-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Section K</h2>
              </div>
              <div class="card-body">
                <p class="card-text">Information and advice</p>
                <a href="#">Open</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-header bg-success-50">
                <h2 class="m-0 fs-2 fw-normal text-neutral-600">Downloads</h2>
              </div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li class="mb-1"><a href="#">Draft plan document</a><span class="text-neutral-500 ms-2"><small>PDF</small></span></li>
                  <li class="mb-1"><a href="#">Draft plan document</a><span class="text-neutral-500 ms-2"><small>DOC</small></span></li>
                  <li class="mb-1"><a href="#">Draft plan letter</a><span class="text-neutral-500 ms-2"><small>PDF</small></span></li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </main>

</div>
