---
layout: default
title: EHC Hub
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}


  <div class="d-flex d-md-none justify-content-between align-items-start idx-border-b mt-3 px-6 pb-2">
    <h1 class="mb-0 fs-2 no-border">Victor Wagner</h1>
    <a class="d-block d-md-none align-self-center" role="button" data-bs-toggle="collapse" href="#idx-sidenav-case" aria-controls="idx-sidenav-case" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="visually-hidden">Case side menu</span> -->
      Details
      <!-- <i class="fal fa-info-circle fs-2 text-neutral-600"></i> -->
      <i class="fal fa-angle-down ms-1 text-neutral-600"></i>
    </a>
  </div>

  {% include sidenav-case-report.html %}

  <main id="content" class="main container-fluid mt-6 px-6 px-lg-8 table-case">
    <div class="row gx-5 gy-2 px-xl-5">
      <div class="col">

        {% include review-progress-report.html %}

        <div class="d-flex justify-content-between text-neutral-500">
          <p class="d-none d-md-block">Report due by: 4 Jan 2023</p>
          <p>Review completion due by: 18 Jan 2023</p>
          <div class="d-md-none dropdown">
            <a class="idx-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">Stages<i class="fal fa-angle-down ms-1"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Arrange</a></li>
              <li><a class="dropdown-item" href="#">Views</a></li>
              <li><a class="dropdown-item" href="#">Meeting</a></li>
              <li><a class="dropdown-item" href="#">Report</a></li>
              <li><a class="dropdown-item" href="#">Decision</a></li>
              <li><a class="dropdown-item" href="#">EHC Plan</a></li>
            </ul>
          </div>
        </div>

        <h1 class="no-border">EHCP Review Report</h1>
        <p>Here you will find the full EHC Plan review report. The report has been written as a result of the discussions held at the review meeting and the views/ information provided ahead of that meeting.</p>
        <p>Each section of the report includes a view on how the child or young person is currently progressing towards each outcome, as well as any recommendations for changes/ amendments to the EHC Plan.<br /><a href="#" class="idox-more-link">read more <i class="fal fa-angle-double-right"></i></a></p>

        {% include actions-report.html %}

        <!-- Review report accordion -->
        <div class="accordion" id="accordionReportAreas">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Report areas
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">

                <h3>
                  <span>Cognition and learning<span><br>
                  <small>1 Outcome</small>
                </h3>

                <div class="mb-4">
                  <label for="textArea1" class="form-label">What are the child or young person’s strengths related to learning in the area of cognition and learning?</label>
                  <textarea class="form-control" id="textArea1" rows="5" readonly>
Some content
Some content
Some content
                  </textarea>
                </div>

                <div class="mb-4">
                  <label for="textArea2" class="form-label">What are the child or young person’s special educational needs related to learning in the area of cognition and learning?</label>
                  <textarea class="form-control" id="textArea2" rows="5" readonly>
Other content
Other content
Other content
                  </textarea>
                </div>

                <p class="card-text form-label"><span class="text-danger">*</span>Is there any change to strengths and/or needs in the area of cognition and learning?</p>
                <div class="mb-4">
                  <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                   <label class="form-check-label" for="inlineRadio1">Yes</label>
                 </div>
                 <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                   <label class="form-check-label" for="inlineRadio2">No</label>
                 </div>
                 <a href="#">Clear selection</a>
               </div>

               <div class="mb-4">
                 <label for="textArea3" class="form-label">Details</label>
                 <div id="detailsHelp" class="form-text">You have indicated that there is a change to strengths and/or needs in the area of cognition and learning. Please provide relevant details describing the change(s) and upload any additional documentation that you have to evidence the change(s).</div>
                 <textarea class="form-control" id="textArea3" rows="5" aria-describedby="detailsHelp" readonly>
Some details
Some details
Some details
                 </textarea>
               </div>

                <!-- outcome accordion -->
                <div class="accordion" id="accordionOutcome">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-secondary-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                        Outcome
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        <div class="mt-2 mb-4">
                          <label for="textOutcome" class="form-label visually-hidden">Outcome</label>
                          <textarea class="form-control" id="textOutcome" rows="5" readonly>
This is an outcome...
                          </textarea>
                        </div>

                        <div class="mb-4">
                          <label for="pFA" class="form-label">Preparing for adulthood type</label>
                          <select class="form-select" id="pFA" aria-label="Pfa" disabled>
                            <option selected>Nothing selected</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>

                        <div class="mb-4">
                          <label for="progressOutcome" class="form-label">Current progress towards this outcome</label>
                          <select class="form-select" id="progressOutcome" aria-label="progressOutcome">
                            <option selected>Nothing selected</option>
                            <option value="1">Complete</option>
                            <option value="2">Not able to comment</option>
                            <option value="3">Not on track</option>
                            <option value="3">On track</option>
                          </select>
                        </div>

                        <div class="mb-4">
                          <label for="textOutcomeWorkingWell" class="form-label">What has been working well and is helping the child or young person to achieve this outcome? (The child/young person and family's views should be considered in your response)</label>
                          <textarea class="form-control" id="textOutcomeWorkingWell" rows="5">

                          </textarea>
                        </div>

                        <p class="card-text form-label"><span class="text-danger">*</span>Are any changes needed to this outcome?</p>
                        <div class="mb-4">
                          <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioA" value="optionA">
                           <label class="form-check-label" for="inlineRadioA">Yes</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioB" value="optionB">
                           <label class="form-check-label" for="inlineRadioB">No</label>
                         </div>
                         <a href="#">Clear selection</a>
                       </div>

                        <div class="mb-4">
                          <label for="textOutcomeChanges" class="form-label">What changes are recommended to this outcome?</label>
                          <textarea class="form-control" id="textOutcomeChanges" rows="5">

                          </textarea>
                        </div>

                        <p class="card-text form-label"><span class="text-danger">*</span>Are any additional short term targets needed to support the child or young person to achieve this outcome?</p>
                        <div class="mb-4">
                          <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioC" value="optionC">
                           <label class="form-check-label" for="inlineRadioC">Yes</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioD" value="optionD">
                           <label class="form-check-label" for="inlineRadioD">No</label>
                         </div>
                         <a href="#">Clear selection</a>
                       </div>

                       <h4>New/additional steps to achieve this outcome</h4>

                       <div class="d-flex justify-content-lg-end mt-2 mb-4 mt-lg-0">
                         <a class="btn btn-neutral-50" href="#"><i class="fal fa-plus-circle me-2"></i>Add step</a>
                       </div>

                       <div class="card bg-success-50 mb-4">
                        <div class="card-body">
                          <h5 class="card-title">Provision</h5>
                          <p class="card-text">Details of existing provisons in the EHCP...</p>
                          <p class="card-text">Details of existing provisons in the EHCP...</p>
                        </div>
                      </div>

                      <p class="card-text form-label"><span class="text-danger">*</span>Are any changes needed to the SEN provision to support the child or young person to meet this outcome?</p>
                      <div class="mb-4">
                        <div class="form-check form-check-inline">
                         <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioE" value="optionE">
                         <label class="form-check-label" for="inlineRadioE">Yes</label>
                       </div>
                       <div class="form-check form-check-inline">
                         <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioF" value="optionF">
                         <label class="form-check-label" for="inlineRadioF">No</label>
                       </div>
                       <a href="#">Clear selection</a>
                     </div>

                     <div class="d-flex justify-content-lg-end mt-2 mb-4 mt-lg-0">
                       <a class="btn btn-neutral-50" href="#"><i class="fal fa-plus-circle me-2"></i>Add provision</a>
                     </div>

                      </div><!-- end of outcome accordion body -->
                    </div>
                  </div><!-- end of outcome accordion item -->
              </div><!-- end of outcome accordion-->
            </div>
          </div>
        </div><!-- end of Review report accordion -->
      </div><!-- end of column -->
    </div><!-- end of row -->
  </main>
</div>
