---
layout: default
title: Work tray
---

<div class="d-flex flex-fill flex-column flex-md-row">
  <!-- Page content -->

  {% include sidenav.html %}

  <main id="content" class="main container-fluid mt-6 px-6 px-lg-8 table-no-case">
    <div class="row">
      <div class="col">
        <h1>My cases in progress</h1>
        <p>My assigned children and young people in the assessment, review or amendment pathway.</p>

        {% include search-cases.html %}

        <div class="row">
         <div class="col">

             <!-- Search results -->
             <p class="mb-0"><strong>1 - 5</strong> of <strong>15</strong> children and young people based on your current search and filter options.</p>
             <div class="table-responsive">
               <table class="table table-hover table-borderless idx-results-table align-middle no-wrap">
                 <thead>
                   <tr>
                     <th scope="col" class="d-none d-md-table-cell">Photo</th>
                     <th scope="col">Name<i class="fa fa-sort ms-1"></i></th>
                     <th scope="col" class="d-none d-md-table-cell">Case ID<i class="fa fa-sort ms-1"></i></th>
                     <th scope="col" class="d-none d-md-table-cell">Year<i class="fa fa-sort ms-1"></i></th>
                     <th scope="col">Setting</th>
                     <th scope="col">Status<i class="fa fa-sort ms-1"></i></th>
                     <th scope="col" class="d-none d-md-table-cell">Next due<i class="fa fa-sort ms-1"></i></th>
                     <th scope="col" class="d-none d-md-table-cell">Updated<i class="fa fa-sort ms-1"></i></th>
                     <th scope="col" class="d-none d-md-table-cell">Alerts</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td class="d-none d-md-table-cell"><img src="/assets/images/boy in a forest.jpg" class="rounded d-block idx-avatar-card" alt="Photo of Alvin"></td>
                     <td class="table-name-label"><a href="#">Hanson, Alvin-Tucker</a></td>
                     <td class="d-none d-md-table-cell">EHC/21/0123</td>
                     <td class="d-none d-md-table-cell">Year 9</td>
                     <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Highfield Academy">Highfield Academy</span></td>
                     <td><span class="badge rounded-pill text-neutral-600 bg-secondary-100 w-100" data-bs-toggle="tooltip" data-bs-title="A needs assessment is in progress.">Assessment</span></td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell"></td>
                   </tr>
                   <tr>
                     <td class="d-none d-md-table-cell"><img src="/assets/images/boy running.jpg" class="rounded d-block idx-avatar-card" alt="Photo of Ellery"></td>
                     <td class="table-name-label"><a href="#">Holden, Ellery</a></td>
                     <td class="d-none d-md-table-cell">EHC/21/0123</td>
                     <td class="d-none d-md-table-cell">Year 4</td>
                     <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Oak Junior School">Oak Junior School</span></td>
                     <td><span class="badge rounded-pill text-neutral-600 bg-secondary-100 w-100" data-bs-toggle="tooltip" data-bs-title="A decision whether to assess is pending.">Assessment decision</span></td>
                     <td class="d-none d-md-table-cell">14/01/2023</td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell">
                       <div class="d-flex align-items-center">
                         <i class="fa fa-exclamation-triangle fa-lg text-warning me-1" data-bs-toggle="tooltip" data-bs-title="Pending deadline"></i>
                         <span class="badge rounded-pill bg-error-600 me-1" title="Safeguarding concern" data-bs-toggle="tooltip" data-bs-title="Safeguarding">SG</span>
                         <span class="badge rounded-pill bg-success-700 me-1" title="Looked after child" data-bs-toggle="tooltip" data-bs-title="Looked after child">LAC</span>
                        </div>
                     </td>
                   </tr>
                   <tr>
                     <td class="d-none d-md-table-cell"><img src="/assets/images/girl at school.jpg" class="rounded d-block idx-avatar-card" alt="Photo of  Sienna"></td>
                     <td class="table-name-label"><a href="#">Reid, Sienna</a></td>
                     <td class="d-none d-md-table-cell">EHC/21/0123</td>
                     <td class="d-none d-md-table-cell">Year 2</td>
                     <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="St Mary's Primary">St Mary's Primary</span></td>
                     <td><span class="badge rounded-pill text-neutral-600 bg-warning-100 w-100" data-bs-toggle="tooltip" data-bs-title="A proposed amendment outside review is being drafted.">Amending EHCP</span></td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell"></td>
                   </tr>
                   <tr>
                     <td class="d-none d-md-table-cell"><img src="/assets/images/teenager at college.jpg" class="rounded d-block idx-avatar-card" alt="Photo of Chandler"></td>
                     <td class="table-name-label"><a href="/summary">Tate, Chandler</a></td>
                     <td class="d-none d-md-table-cell">EHC/21/0123</td>
                     <td class="d-none d-md-table-cell">Year 13</td>
                     <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Greenhill School">Greenhill School</span></td>
                     <td><span class="badge rounded-pill text-neutral-600 bg-error-100 w-100" data-bs-toggle="tooltip" data-bs-title="A review meeting has been arranged and views are being gathered.">Review arranged</span></td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell">
                       <div class="d-flex align-items-center">
                         <i class="fa fa-exclamation-triangle fa-lg text-error-600 me-1" data-bs-toggle="tooltip" data-bs-title="Overdue deadline"></i>
                        </div>
                     </td>
                   </tr>
                   <tr>
                     <td class="d-none d-md-table-cell"><img src="/assets/images/placeholder.jpeg" class="rounded d-block idx-avatar-card" alt="Photo of Victor"></td>
                     <td class="table-name-label"><a href="#">Wagner, Victor</a></td>
                     <td class="d-none d-md-table-cell">EHC/21/0123</td>
                     <td class="d-none d-md-table-cell">Year 11</td>
                     <td class="text-truncate" style="max-width:150px"><span class="cursor-default" data-bs-toggle="tooltip" data-bs-title="Greenhill School">Greenhill School</span></td>
                     <td><span class="badge rounded-pill text-neutral-600 bg-error-100 w-100" data-bs-toggle="tooltip" data-bs-title="A review report is being drafted.">Review report</span></td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell">17/04/2023</td>
                     <td class="d-none d-md-table-cell"></td>
                   </tr>
                 </tbody>
               </table>
             </div>

             <nav aria-label="Results navigation">
                <ul class="pagination justify-content-center my-5">
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="fal fa-chevron-right"></i></a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="fal fa-chevron-double-right"></i></a></li>
                </ul>
              </nav>

           </div>
         </div>
      </div>
    </div>
  </main>

</div>
